@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/static/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
/* line 14 */
.black-link {
  color: #3f3e3e;
}
/* line 17 */
.black-link:hover {
  text-decoration: underline;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/static/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
/* line 14, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link, .article-view .article-feed {
  color: #3f3e3e;
}
/* line 17, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link:hover, .article-view .article-feed:hover {
  text-decoration: underline;
}

/* line 3 */
.article-view {
  padding: 20px;
}
/* line 9 */
.article-view img {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/static/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
/* line 14, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link {
  color: #3f3e3e;
}
/* line 17, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link:hover {
  text-decoration: underline;
}

/* line 4 */
.feed-view h3 {
  display: inline-block;
}
/* line 7 */
.feed-view h6 {
  margin: 0;
  cursor: pointer;
}
/* line 11 */
.feed-view h6:hover {
  text-decoration: underline;
}
/* line 14 */
.feed-view a {
  cursor: pointer;
}
/* line 17 */
.feed-view .dropdown-toggle {
  background: transparent;
}
/* line 20 */
.feed-view .btn-group {
  margin-left: 10px;
  margin-bottom: 5px;
}
/* line 24 */
.feed-view .btn-group.open a {
  background: transparent;
}
/* line 28 */
.feed-view .dropdown-menu a {
  font-size: 12px;
  padding: 3px 9px;
}
/* line 31 */
.feed-view .dropdown-menu span {
  margin-right: 10px;
}
/* line 35 */
.feed-view .pagination {
  float: right;
}
/* line 38 */
.feed-view .feed-table {
  table-layout: fixed;
}
/* line 41 */
.feed-view .feed-table td {
  padding: 5px;
}
/* line 44 */
.feed-view .article-title {
  max-width: 90%;
  color: #3f3e3e;
  font-weight: 700;
}
/* line 49 */
.feed-view .article-feed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 90%;
}
/* line 56 */
.feed-view .article-time {
  float: right;
  color: #444444;
  font-weight: 300;
}
/* line 61 */
.feed-view .text-center {
  margin: 5px 0;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/static/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
/* line 14, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link, .nav > li a {
  color: #3f3e3e;
}
/* line 17, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link:hover, .nav > li a:hover {
  text-decoration: underline;
}

/* line 3 */
html {
  height: 100%;
  font-family: "Roboto", serif;
  font-color: #3f3e3e;
}

/* line 8 */
body {
  font-family: "Roboto", serif;
  min-height: 100%;
  overflow-y: scroll;
}

/* line 16 */
.modal-backdrop {
  bottom: 0;
}

/* line 19 */
header.page-header {
  background: gray;
}

/* line 22 */
nav.navbar {
  background-color: #BEF2ED;
  position: fixed;
  z-index: 10;
  width: 100%;
}
/* line 28 */
nav.navbar .search-wrapper {
  padding-top: 3px;
}

/* line 31 */
.main-content {
  padding-top: 55px;
}

/* line 35 */
nav .glyphicon-search, nav .glyphicon-wrench {
  margin-right: 5px;
}
/* line 38 */
nav .loading-spinner {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}
/* line 42 */
nav .settings-icon {
  float: right;
}

/* line 45 */
.loading-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  font-family: "Montserrat-Bold";
  background-image: url("/static/images/splash.jpg");
  background-size: cover;
}
/* line 55 */
.loading-screen .progress {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
/* line 59 */
.loading-screen .progress-bar {
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 62 */
.loading-screen .loading-wrapper {
  height: 200px;
  width: 400px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 73 */
.loading-screen .loading-wrapper h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-bottom: 20px;
  font-size: 50px;
}
/* line 79 */
.loading-screen .loading-wrapper .bottom-half {
  padding: 5px;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* line 99 */
.settings-modal .tab-content {
  margin: 15px;
}

/* line 1 */
.advanced-search-body {
  min-height: 300px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/static/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
/* line 14, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link {
  color: #3f3e3e;
}
/* line 17, /Users/subyraman/Documents/rssler/sass/_variables.sass */
.black-link:hover {
  text-decoration: underline;
}

/* line 3 */
#sidebar {
  font-family: "Roboto", serif;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}
/* line 9 */
#sidebar a {
  display: inline;
}

/* line 12 */
.nav > li {
  padding: 1px 0;
}
/* line 15 */
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}
/* line 18 */
.nav > li i {
  float: right;
}

/* line 21 */
.new-feed {
  margin: 5px;
}

/* line 24 */
.feeds {
  list-style-type: none;
  display: none;
}

@media (max-width: 767px) {
  /* line 31 */
  .sidebar-expanded {
    z-index: 10;
    width: 40%;
    background: white;
  }
  /* line 36 */
  .sidebar-expanded .hidden-xs {
    display: block !important;
  }
}
