<div ng-show="feedCtrl.hasCategories()">
    <header>
        <h3>{{feedCtrl.currentView.data.title}}</h3>
        <pagination ng-show="feedCtrl.currentFeed.length" total-items="feedCtrl.currentView.data.totalItems" ng-model="feedCtrl.currentView.data.page" items-per-page="40" class="pagination-sm" max-size="5" boundary-links="true" rotate="false" ng-change="feedCtrl.updatePage()"></pagination>

        <edit-dropdown></edit-dropdown>
    </header>
    <table class="table feed-table">
        <tr ng-repeat="article in feedCtrl.currentFeed">
            <td ng-class="{'col-sm-8': article.feed.title, 'col-sm-10': !article.feed.title}">
                <a class="article-title" ng-click="mainCtrl.loadArticle(article)">{{article.title}}</a>
            </td>
            <td>
                <h6 class="article-feed" ng-click="mainCtrl.loadFeed({id: article.feed.id})">{{article.feed.title}}</h6>
            </td>
            <td class="col-sm-2">
                <span class='article-time'>{{article.published_at | dateFilter }}</span>
            </td>
        </tr>
    </table>

    <footer ng-show="feedCtrl.currentFeed.length">
        <pagination total-items="feedCtrl.currentView.data.totalItems" ng-model="feedCtrl.currentView.data.page" items-per-page="40" class="pagination-sm" max-size="5" boundary-links="true" rotate="false" ng-change="feedCtrl.updatePage()"></pagination>
    </footer>
</div>